@use '../../style/partials/mixins' as *;
@use '../../style/partials/colors' as *;

.summary {
    @include round-border;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    margin: 0.5rem;
    width: 100%;
    background-color: white;

    @include tablet {
        width: 46%;
    }

    &__container {
        background-color: $lightgreen;
    }

    &__list {
        margin: 0;
        padding-left: 1rem;
    }

    &__detail {
        padding: 0.25rem;
        font-size: 0.9rem;
        list-style: none;
        &--bold{
            font-weight: 700;
        }
    }

    &__img {
        height: 3rem;
        object-fit: cover;

        &-name {
            @include labelform;
            text-transform: capitalize;
            margin: 0;
            margin-top: 0.5rem;
        }

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__delete {
        border: none;
        background-color: transparent;
    }
}