@use '../../style/partials/mixins' as *;

.heroimg {
        width: 14rem;
        position: relative;
        top: 10%;
        right: -10%;

        @include tablet {
            right: -25%;
        }
        @include desktop {
            width: 25rem;
            right: -5%;
            top: 46%;
        }
    }