@use '../../style/partials/mixins' as *;
@use '../../style/partials/colors' as *;

.navbar {
    @include round-left;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $orange;
    display: flex;
    width: 12rem;
    padding: 0 1rem;

    &__icon {
        font-size: 1.5rem; 
        color: white;
    }

    &__button {
        @include button-reset;
        @include flex-column;
        align-items: center;
        font-size: 0.7rem;
        font-family: 'Nunito Sans';
        font-weight: 700;
        color: white;
        padding: 0.5rem;
        text-decoration: none;
        cursor: pointer;

    }

}