@use '../src/style/partials/typhography' as *;
@use '../src/style/partials/colors' as *;
@use '../src/style/partials/mixins' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.button {
  @include round-border;
  padding: 0.7rem;
  background-color: $orange;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  margin: 1rem 0;
}